{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
            </span>
            Kecamatan
        </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Kecamatan</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tambah Kecamatan</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="margin-bottom:20px;">KECAMATAN</h4>
                   

                    <table id="example" class="table table-striped table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>Kecamatan</th>
                                <th class="text-center">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in kecamatan %}
                            <tr>
                                <td>
                                    {{a.nama}}
                                </td>
                                <td class="text-center">
                                    <a href="/kecamatan/edit/{{a.id}}" class="btn btn-success btn-sm">
                                        Ubah
                                    </a>
                                    <a href="/kecamatan/delete/{{a.id}}" class="btn btn-info btn-sm">Hapus</a>
                                </td>
                            </tr>
                            {% endfor %}
                            <a  class="btn btn-gradient-danger btn-sm float-right" href="/kecamatan/tambah" ">Tambah</a>
                        </tbody>
                        


                    </table>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
    