{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
            </span>
            Tambah Kelurahan
        </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/kelurahan/">Kelurahan</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tambah Kelurahan</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tambah Kelurahan</h4>

                    <form action='/kelurahan/save' method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{form.kecamatan.id_for_label}}">
                            <select class="form-control" name="kecamatan">
                                <option value="">==== Pilih kecamatan ====</option>
                                {% for kc in kecamatans %}
                                  <option value="{{kc.id}}">{{kc.nama}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Nsms Kelurahan">
                            <input class="form-control" type="text" name="nama" id="">
                        </div>
                        <button class="btn btn-primary" type="submit">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
            
    </div>
</div>

{% endblock %}