{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
            </span>
            Edit TPS
        </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/tps/">TPS</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit TPS</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Edit TPS</h4>

                    <form action="/tps/update/" method="post">
                        {% csrf_token %}
                        {{form.id}}
                        <div class="form-group">
                            <label for="{{form.kelurahan.id_for_label}}">{{form.kelurahan.label}}</label>
                            {{form.kelurahan}}
                        </div>
                        <div class="form-group">
                            <label for="{{form.nama.id_for_label}}">{{form.nama.label}}</label>
                            {{form.nama}}
                        </div>
                        <div class="form-group">
                            <label for="{{form.alamat.id_for_label}}">
                            {{form.alamat.label}}</label>
                            {{form.alamat}}
                        </div>
                        <button class="btn btn-primary" type="submit">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
            
    </div>
</div>

{% endblock %}