{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
            </span>
            TPS
        </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">TPS</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tambah TPS</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="margin-bottom:20px;">TPS</h4>
                   

                    <table id="example" class="table table-striped table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>Kelarahan</th>
                                <th>Alamat</th>
                                <th>Nama</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in tps %}
                            <tr>
                                <td>
                                    {{a.kelurahan}}
                                </td>
                                <td>
                                    {{a.alamat}}
                                </td>
                                <td>
                                    {{a.name}}
                                </td>
                                <td class="text-center">
                                    <a href="/tps/edit/{{a.id}}" class="btn btn-success btn-sm">
                                        Ubah
                                    </a>
                                    <a href="/tps/delete/{{a.id}}" class="btn btn-info btn-sm">Hapus</a>
                                </td>
                            </tr>
                            {% endfor %}
                            <a class="btn btn-gradient-danger btn-sm float-right" href="/tps/tambah" ">Tambah</a>
                        </tbody>
                        


                    </table>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    {% block script %}
      <script>
            $('#example').DataTable()
      </script>
    {% endblock script %}