{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
            </span>
            Edit Caleg
        </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/suara/">Suara</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Suara</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Edit Suara</h4>

                    <form action="/suara/update" method="post">
                        {% csrf_token %}
                        {{form.id}}
                        <div class="form-group">
                            <label for="{{form.partai.id_for_label}}">{{form.partai.label}}</label>
                            {{form.partai}}
                        </div>
                        <div class="form-group">
                            <label for="{{form.caleg.id_for_label}}">{{form.caleg.label}}</label>
                            {{form.caleg}}
                        </div>
                        <div class="form-group">
                            <label for="{{form.kecamatan.id_for_label}}">{{form.kecamatan.label}}</label>
                            {{form.kecamatan}}
                        </div>
                        <div class="form-group">
                            <label for="{{form.kelurahan.id_for_label}}">{{form.kelurahan.label}}</label>
                            {{form.kelurahan}}
                        </div>
                        <div class="form-group">
                            <label for="{{form.tps.id_for_label}}">{{form.tps.label}}</label>
                            {{form.tps}}
                        </div>
                        <div class="form-group">
                            <label for="{{form.jumlah_suara.id_for_label}}">{{form.jumlah_suara.label}}</label>
                            {{form.jumlah_suara}}
                        </div>
                        <div class="form-group">
                            <label for="{{form.pict.label}}">{{form.pict.label}}</label>
                            {{form.pict}}
                            <!-- <input type="file" name="pict" multiple> -->
                        </div>
                        <button class="btn btn-primary" type="submit">Simpan</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}