{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
            </span>
            Caleg
        </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Daftar Caleg</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tambah Caleg</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title float-left" style="margin-bottom:20px;">CALEG</h4>


                    <a class="btn btn-gradient-danger btn-sm float-right" href="/caleg/tambah">Tambah</a>
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Nama</th>
                                <th>Nomor_urut</th>
                                <th>Dapil</th>
                                <th>Partai</th>
                                <th>Kategori</th>
                                <th>Jenis</th>
                                <th class="text-center">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in caleg %}
                            <tr>
                                <td>
                                    {{a.name}}
                                </td>
                                <td>
                                    {{a.nomor_urut}}
                                </td>
                                <td>
                                    {{a.dapil}}
                                </td>
                                <td>
                                    {{a.partai}}
                                </td>
                                <td>
                                    {{a.kategoricaleg}}
                                </td>
                                <td>
                                    {% if a.ispartai %}
                                    PARTAI
                                    {% else %}
                                    CALEG
                                    {% endif %}
                                </td>

                                <td class="text-center">
                                    <a href="/caleg/edit/{{a.id}}" class="btn btn-success btn-sm">
                                        Ubah
                                    </a>
                                    <a onclick="return confirm('Benar akan dihapus?')" href="/caleg/delete/{{a.id}}"
                                        class="btn btn-info btn-sm">Hapus</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>



                    </table>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
    {% block script %}
    <script>
        $('#example').DataTable()
    </script>
    {% endblock script %}