{% extends 'base.html' %}
{% block css %}
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" /> -->
{% endblock css %}
{% block content %}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
            </span>
            Tambah Caleg
        </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/caleg/">Caleg</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tambah Caleg</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tambah Caleg</h4>

                    <form action="/caleg/save" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{form.kategori.id_for_label}}">
                                {{form.kategori.label}}</label>
                            {{form.kategori}}
                        </div>
                        <div class="form-group">
                            <label for="{{form.partai.id_for_label}}">
                                {{form.partai.label}}</label>
                            {{form.partai}}
                        </div>
                        <div class="form-group">
                            <label for="{{form.dapil.id_for_label}}">
                                {{form.dapil.label}}</label>
                            {{form.dapil}}
                        </div>
                        <div class="form-group">
                            <label for="{{form.name.id_for_label}}">{{form.name.label}}</label>
                            {{form.name}}
                        </div>
                        <div class="form-group">
                            <label for="{{form.no_urut.id_for_label}}">
                                {{form.no_urut.label}}</label>
                            {{form.no_urut}}
                        </div>
                        <div class="form-group">
                            <label for="{{form.ispartai.id_for_label}}">
                                {{form.ispartai.label}}</label>
                            <input type="checkbox" name="ispartai">
                        </div>



                        <button class="btn btn-primary" type="submit">Simpan</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block script %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script> -->
<!-- <script>
    $('select').select2()
    </script> -->
{% endblock script %}