{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
            </span>
            Tambah User
        </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/account/">User</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tambah User</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tambah User</h4>

                    <form action="/account/save" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">{{form.name.label}}</label>
                            <input type="text" class="form-control" name="name"
                                placeholder="Masukan name">
                        </div>
                        <div class="form-group">
                            <label for="name">{{form.email.label}}</label>
                            <input type="text" class="form-control" name="email"
                                placeholder="Masukan email">
                        </div>
                        <div class="form-group">
                            <label for="name">{{form.username.label}}</label>
                            <input type="text" class="form-control" name="username"
                                placeholder="Masukan username">
                        </div>
                        <div class="form-group">
                            <label for="name">{{form.password.label}}</label>
                            <input type="text" class="form-control" name="password"
                                placeholder="Masukan password">
                        </div>
                        <div class="form-group">
                            <label for="name">{{form.no_telpon.label}}</label>
                            <input type="text" class="form-control" name="no_telpon"
                                placeholder="Masukan no_telpon">
                        </div>
                        <div class="form-group">
                            <label for="name">{{form.nik.label}}</label>
                            <input type="text" class="form-control" name="nik"
                                placeholder="Masukan nik">
                        </div>
                        <div class="form-group">
                            <label for="{{form.gambar.id_for_label}}">
                            {{form.gambar.label}}</label>
                            {{form.gambar}}
                            <input type="file" name="pict" multiple>
                        </div>

                        <div class="form-check form-check-flat form-check-primary">
                                <label class="form-check-label">
                                  <input name="superuser" type="checkbox" class="form-check-input">
                                  Superuser
                                <i class="input-helper"></i></label>
                              </div>
                        <button class="btn btn-primary" type="submit">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
            
    </div>
</div>

{% endblock %}