{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Q-Count| for H.Akhmad H.Mukhtar</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static "/css/select2-bootstrap4.min.css" %}">
  <style>
    .chart-container {
      position: relative;
      margin: auto;
      height: 80vh;
      width: auto;
    }

    /* .card-title{
  margin-top: 100px;
} */
  </style>
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% include 'public_header.html' %}
  </div>
  <div class="container-fluid">
    <form action="/" method="GET" style="margin-top:40px;">
      <div class="row">
        <div class="form-group col-sm-12 col-md-3">
          <select name="kec" id="id_kec" class="form-control"></select>
        </div>
        <div class="form-group col-sm-12 col-md-3">
          <select name="kel" id="id_kel" class="form-control"></select>
        </div>
        <div class="form-group col-sm-12 col-md-3">
          <select name="tps" id="id_tps" class="form-control"></select>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary btn-block" style="height: 40px;"><i class="mdi mdi-magnify"></i> Filter</button>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Caleg Demokrat</h4>
            <div class="chart-container">
              <canvas id="barChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Suara Partai</h4>
            <div class="chart-container">
              <canvas id="pieChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- container-scroller -->
  <script src="{% static 'vendor/jquery/jquery.js' %}"></script>
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'vendors/js/vendor.bundle.addons.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/misc.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>
  <!-- End custom js for this page-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>


  <!-- {% autoescape off %} -->
  <script>

    var list_kelurahan = [];
    var id_kelurahan = null;
    var id_kecamatan = null;

    $('select#id_kec').on("select2:select", function (e) {
      id_kecamatan = $(e.target).val();
      if (id_kecamatan !== null) {
        $('#id_kel').removeAttr("disabled");
      }
    });

    $('select#id_kel').on("select2:select", function (e) {
      id_kelurahan = $(e.target).val();
      if (id_kelurahan !== null) {
        $('#id_tps').removeAttr('disabled')
      }
    });

    $('select#id_kec').select2({
      theme: "bootstrap4",
      placeholder: "==== Filter dengan kecamatan ====",
      ajax: {
        url: '/kecamatan/service',
        dataType: 'json',
        data: function (params) {
          var query = {
            search: params.term,
          }
          return query;
        },
        processResults: function (data) {
          let dataResult = {
            results: [],
          };
          data["kecamatan"].forEach(element => {
            dataResult['results'].push({
              id: element.id,
              text: element.nama,
            })

          });
          return dataResult;
        }
      }
    });
    $('select#id_kel').select2({
      theme: "bootstrap4",
      placeholder: "==== Filter dengan kelurahan ====",
      ajax: {
        url: "/kelurahan/service",
        dataType: "json",
        data: function (params) {
          var query = {
            search: params.term,
            kecamatan: id_kecamatan
          }
          return query;
        },
        processResults: function (data) {
          let dataResult = {
            results: []
          }
          data["data"].forEach(element => {
            dataResult["results"].push({
              id: element.id,
              text: element.nama
            })
          })
          return dataResult;
        }
      }
    });
    $('select#id_tps').select2({
      theme: "bootstrap4",
      placeholder: "==== Filter dengan tps ====",
      ajax: {
        url: "/tps/service/public",
        dataType: "json",
        data: function (params) {
          var query = {
            search: params.term,
            kelurahan: id_kelurahan
          }
          return query;
        },
        processResults: function (data) {
          let dataResult = {
            results: []
          }
          data["data"].forEach(element => {
            dataResult["results"].push({
              id: element.id,
              text: element.nama
            })
          })
          return dataResult;
        }
      }
    });

    var data1 = {
      labels: {{ labels }},
    datasets: [{
      label: 'Jumlah Suara',
      data: {{ values }},
      backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(255, 206, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(255, 159, 64, 0.2)'
    ],
      borderColor: [
      'rgba(255,99,132,1)',
      'rgba(54, 162, 235, 1)',
      'rgba(255, 206, 86, 1)',
      'rgba(75, 192, 192, 1)',
      'rgba(153, 102, 255, 1)',
      'rgba(255, 159, 64, 1)'
    ],
      borderWidth: 1,
      fill: false
    }]
  };
    var ctx = document.getElementById('barChart').getContext('2d');
    var barChart = new Chart(ctx, {
      type: 'bar',
      data: data1,
      responsive: true,
      maintainAspectRatio: true,
      options: {
        scales: {
          xAxes: [{
            stacked: true
          }],
          yAxes: [{
            stacked: true
          }]
        }
      }
    });


    var data2 = {
      labels: {{ labels1 }},
    datasets: [{
      label: 'Jumlah Suara',
      data: {{ values1 }},
      backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(255, 206, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(255, 159, 64, 0.2)'
    ],
      borderColor: [
      'rgba(255,99,132,1)',
      'rgba(54, 162, 235, 1)',
      'rgba(255, 206, 86, 1)',
      'rgba(75, 192, 192, 1)',
      'rgba(153, 102, 255, 1)',
      'rgba(255, 159, 64, 1)'
    ],
      borderWidth: 1,
      fill: false
    }]
  };
    var ctx = document.getElementById('pieChart').getContext('2d');
    var pieChart = new Chart(ctx, {
      type: 'pie',
      data: data2,
      responsive: true,
      maintainAspectRatio: true,
      options: {
        scales: {
          xAxes: [{
            stacked: true
          }],
          yAxes: [{
            stacked: true
          }]
        }
      }
    });

    // if ($("#barChart").length) {
    //   var barChartCanvas = $("#barChart").get(0).getContext("2d");
    //   // This will get the first returned node in the jQuery collection.
    //   var barChart = new Chart(barChartCanvas, {
    //     type: 'bar',
    //     data: data1,
    //     // options: options
    //   });
    // }
  </script>
  <!-- {% endautoescape %} -->
</body>

</html>